.bg-gradient-default {

    background-image: url("../../../../assets/img/job-thumbs\ up.jpg")!important;
    background-repeat: no-repeat !important;
    background-size: 58% 620px !important;  
    padding-left: 30% !important;
    padding-top: 100px !important;
    width: 100% !important;
    max-width: 140% !important;
    height: 900px !important;
    padding: 10px 0;
  }
  
  .section-shaped .shape + .container {
      position: relative;
      height: 380%;
      left: 440px;
      padding-top: 1030px;
      width: 100%;
      margin: 0 auto;
      top: -140px;
      padding: -70px 0;
      
  }
  